.character img {
	height: 150px;
	width: 150px;
	padding-left: 160px;
}

.container-fluid {
	border: 2px solid black;
	/*height: 320px;
	width: 480px;*/
	background-color: pink;
}
.interact {
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
	margin-bottom: 5px;
	
}
.character {
	background-color: yellow;
	border: 2px solid black;
}

.metrics h3 {
	display: inline-block;
	}