
.container {

	margin-top: 60px;
	margin-bottom: 15px;
	align-items: center;
	border: 5px solid rgb(24,24,24);
	background-color: pink;
	height: 60%
	width: 90%;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-transform: uppercase;

}

.animate {
	display: block;
	align-self: center;
	position: relative;
	margin-left: 250px;
	/*margin-left: : 0 auto;*/
	/*margin-right: 0 auto;*/
}


.name {
	justify-content: center;
	margin: 10px;
	color: : black;
}

.interactive {
	text-align: center;
	}


.mangoicon {
	height: 70px;
	width: 70px;
	margin-top: 3px;
}

.powericon {
	height: 70px;
	width: 70px;
	margin-top: 3px;
}
.staricon {
	height: 70px;
	width: 70px;
	margin-top: 3px;
}

.character {
	text-align: center;
	justify-content: center;
	align-self: center;
	background-color: yellow;
	border: 2px solid black;
	}

.metrics {
	text-align: center;
	justify-content: center;
}

.metrics p  {
	margin: 10px;
	display: block;
	font-size: 20px;
	}

.pukingrainbow {
	opacity: 0;
	height: 0px;
	width: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

#food-button {
	background-color: pink;
	outline: none;
}

#sleep-button {
	background-color: pink;
	outline: none;
}

#play-button {
	background-color: pink;
	outline: none;
}

body {
	background-color: rgb(242, 204, 255);
}

