.character img {
	position: relative;
}


body {
	background-color: pink;
}
.container-fluid {
	border: 2px solid black;
	background-color: pink;
}
.interact {

	display: inline-block;
	justify-content: space-around;
	margin-top: 5px;
	margin-bottom: 5px;
	
}
.character {
	background-color: yellow;
	border: 2px solid black;
}

.metrics h3 {
	display: block;
	}